include _variables
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Dosis:300,400,700|Open+Sans:300,400,700')
        link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        link(rel='stylesheet' type='text/css' href='assets/styles/style.css')
        link(rel='stylesheet' type='text/css' href='assets/styles/fonts.css')
        link(rel='stylesheet' type='text/css' href='style.css')
        block theHead
    body
        block theHeader
        block theBody
        footer
            block theFooter
        block theEnd
            script(src='assets/js/scripts.js')
            script(src='https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.js')
