.page-potential-loan-options
    .page-wraper
        .container
            .table
                .table-row
                    .table-cell.col-aside
                        include _prt_aside-results
                    .table-cell.col-body
                        -var icon = ["small_business", "terms", "invoice", "equipment"]
                        -var text = ["Small Business <br/> Loans", "Term <br/> Business Loan", "Invoice <br/> Financing", "Equipment <br/> Financing"]
                        include _prt_potential-loan-option