.page-potential-loan-options.funnel-2b
    .page-wraper
        .container-fluid
            .table
                .table-row
                    .table-cell.col-aside
                        include _prt_aside-results
                    .table-cell.col-body
                        -var icon = ["small_business", "terms", "merchant", "invoice", "equipment", "business-line-credit"]
                        -var text = ["Small Business <br/> Loans", "Term <br/> Business Loan", "Merchant Cash <br/> Advance", "Invoice <br/> Financing", "Equipment <br/> Financing", "Business Line <br/> Of Credit"]
                        include _prt_potential-loan-option-2