.page-about-us
    .page-wraper
        .page-head
            .container
                h1.item-title-primary About LendGenius
            .content-ourmission
                .container
                    .row
                        .col-xs-12.col-md-4: h2.item-title-primary Our Mission
                        .col-xs-12.col-md-4: p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        .col-xs-12.col-md-4: p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        .page-body
            .content-our-services
                .container
                    h2.item-title-primary Our Services
                    .items-services
                        .row
                            -for (var i=1; i<=4; i++)
                                .col-xs-6.col-md-3
                                    .item
                                        .item-image: .font-icon.font-icon-handshake
                                        .item-text Service #{i}
            .content-our-culture
                .container
                    ul.nav.nav-justified.nav-tabs(role="tablist")
                        li.active: a(href="#culture_1", data-toggle="tab") Our Culture 1
                        li: a(href="#culture_2", data-toggle="tab") Our Culture 2
                        li: a(href="#culture_3", data-toggle="tab") Our Culture 3
                .tab-content-wrap
                    .container
                        .tab-content
                            .tab-pane.active#culture_1
                                +our_culture("Our culture 1", "Our subculture1", "It’s awesome to be a part of something that makes a difference. Did you know that 70 percent of the jobs in our country are in small businesses? Every day we match thousands of small businesses with the financing they need to grow, thrive, and hire new employees. Fueling the American Dream isn’t just a tagline or a slogan to us, it’s our mission, our motivation, and why we love being Lendions.")
                            .tab-pane#culture_2
                                +our_culture("Our culture 2", "Our subculture2", "It’s awesome to be a part of something that makes a difference. Did you know that 70 percent of the jobs in our country are in small businesses? Every day we match thousands of small businesses with the financing they need to grow, thrive, and hire new employees. Fueling the American Dream isn’t just a tagline or a slogan to us, it’s our mission, our motivation, and why we love being Lendions.")
                            .tab-pane#culture_3
                                +our_culture("Our culture 3", "Our subculture3", "It’s awesome to be a part of something that makes a difference. Did you know that 70 percent of the jobs in our country are in small businesses? Every day we match thousands of small businesses with the financing they need to grow, thrive, and hire new employees. Fueling the American Dream isn’t just a tagline or a slogan to us, it’s our mission, our motivation, and why we love being Lendions.")
            .content-our-values
                .container
                    .item-title-primary Our values
                    .items-list
                        .row
                            - for(var i = 0 ; i < 6 ; i++)
                                .col-xs-12.col-md-6.col-lg-4.item
                                    .item-title OWN THE OUTCOME
                                    .item-text Integrity, accountability, and results. At Lendio, you’re not only encouraged to take ownership of what you do, it’s expected. Nobody wants to sit around waiting for someone else to tell them what to do. Brock likes to say, “You’re the CEO of your job role."
            .content-working-at
                .container
                    .item-title-primary Working at LenGenius
                    .item-content
                        .item-content-title More Than a Culture
                        .item-content-text Most companies claim a good company culture is important. Creating a great culture starts at the very top of the org chart—which is where it starts at Lendio. Check out the Utah-BYU rivalry videos, the footage from our company outings, or ask any Lendio employee, and it won’t take you long to see our company makes building a great culture a priority.
                    .item-button
                        a(href="#").btn.btn-success.btn-big Apply to work at LendGenius


