.page-how-it-works.tpl-3
    .page-wraper
        .page-head
            .container
                .block-title-primary
                    h1.item-title-primary.thin How It Works Is
                    h2.item-title-primary.bold A PIECE OF CAKE
            .block-steps
                include _prt_steps-list/_prt_steps-list
        include _prt_how-much
