.page-blog
    .container
        .row
            .col-xs-12.col-lg-8
                .content-blog
                    .blog-item
                        .item-wraper
                            .item-title Let Lender Compete For Your Business
                            .item-image.item-image-article
                                .row
                                    .col-sm-6
                                        img.item-image-src(src="assets/images/suit-portrait-preparation-wedding.jpg" alt="suit-portrait-preparation-wedding")
                                    .col-sm-6
                                        .item-author
                                            .item-author-avatar(style="background-image: url(assets/images/author-avatar.jpg)")
                                            | by <strong>nataly KARP</strong> on July 29, 2016
                                            .item-author-info Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                            .item-article
                                .item-text
                                    p Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                    p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.
                                    p Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                                    p: span.lendgenius-banner: a(href="#").btn.btn-success See Loan Options
                                    p Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                    p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.
                                    p Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                include _prt_you-may-also-like
                include _prt_banner-options
                include _prt_comments
                .blog-navigation
                    span.separate-line: a(href="#") Previous post
                    span.separate-line: a(href="#") Next post
            .col-xs-12.col-lg-4
                include _prt_aside/_prt_aside

