.page-funnel-3
    .page-wraper
        .page-wraper-bg
        .container
            h1.page-title Business Information
            .row
                .col-md-6
                    .funnel-form
                        .funnel-form-steps
                            .steps-indication
                                .step-title Step 1 of 2
                                .step-selector
                                    a(href="#").active 1
                                    a(href="#") 2
                            .step-1
                                include _prt_aside-business-info.pug
                .col-md-6
                    include _prt_funnel-info