.page-privacy-policy
    .page-wraper
        .page-head
            h1.item-title-primary= page_privacy_policy
        .page-body
            p This #{page_privacy_policy} has been updated effective May 19, 2016.
            p This #{page_privacy_policy} applies to www.ondeck.com (“Website”), which is owned and operated by On Deck Capital, Inc. (“OnDeck,” “Us,” or We”). The Website facilitates our business loan products and related services (collectively “Services”). This Privacy Policy describes how OnDeck collects and uses the personal information you provide (directly or through third parties), or which is automatically generated, when you interact with our website www.ondeck.com (“Website”) and our mobile application (“Mobile App”).
            p This #{page_privacy_policy} also describes the choices available to you regarding our use of your personal information and how you can access and update such information. #[br] For purposes of this Privacy Policy, “Personal Information” means information that personally identifies you, including your contact information, IP address, and loan application information. A large portion of the Personal Information we collect, use, share, and store is sensitive in nature, including your social security number and financial account information (“Sensitive Personal Information”).
            p The TRUSTe program covers only information that is collected through this website, and does not cover information that may be collected through software downloaded from the website.
            p In order to view our relationship with TRUSTe please visit the validation page available by clicking the TRUSTe seal.If you have an unresolved privacy or data use concern that we have not addressed satisfactorily in this Privacy Policy or otherwise, please contact TRUSTe at https://feedback-form.truste.com/watchdog/request.

