.page-blog
    .container
        .row
            .col-xs-12.col-lg-8
                .content-blog
                    .content-blog-items
                        .blog-item
                            .item-title-primary Credit Cards
                        - for(var i=0; i < 10; i++)
                            .blog-item
                                .item-wraper
                                    .item-image.item-image-opacity
                                        img.item-image-src(src="assets/images/suit-portrait-preparation-wedding.jpg" alt="suit-portrait-preparation-wedding")
                                        .item-title Let Lender Compete For Your Business
                                    .item-content
                                        .item-author by <strong>nataly KARP</strong> on July 29, 2016
                                        .item-text Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris... Morbi accumsan ipsum velit...
                                        .item-social
                                            ul.list-inline.sprites.item-social-list
                                                li.item-social-icon
                                                    a(href="#")
                                                        span.sprite.icon-comments
                                                        span 12
                                                li.item-social-icon
                                                    a(href="#")
                                                        span.sprite.icon-facebook
                                                        span 319
                                                li.item-social-icon
                                                    a(href="#")
                                                        span.sprite.icon-twitter
                                                        span 319
                                        .item-readmore
                                            a(href="#") Read more
                    .content-blog-reamore
                        a.btn.btn-default.btn-full.btn-lg.font-icon-arrow-down(href="#")
            .col-xs-12.col-lg-4
                include _prt_aside/_prt_aside

include _prt_how-much