.page-how-it-works.tpl-2
    .page-wraper
        .how-it-works-banner
            .banner-wraper
                .table
                    .table-row
                        .table-cell-middle.side-left
                            .banner-content
                                .baner-title-thin How It Works Is
                                .baner-title-bold A piece of cake
                                include _prt_how-much-search-form
                        .table-cell-middle.side-right
                            .banner-content
                                include _prt_steps-list/_prt_steps-vertical

        .prt-from-article
            .container
                .row
                    .col-xs-12.col-lg-8
                        - you_may_also_like_title= "Top Articles"
                        include _prt_you-may-also-like
                        span.lendgenius-banner: a(href="#").btn.btn-success See Loan Options
                    .col-xs-12.col-lg-4
                        - content_aside_news= "most popular articles"
                        - content_aside_news_count = 2
                        include _prt_aside/_prt_aside_news
        .prt-from-article
            .container
                include _prt_how-much-learn-more
        .prt-from-article
            include _prt_find-free-results


