.content-blog.content-sub
    .content-sub-item
        h2.item-title-primary= you_may_also_like_title
        .content-blog-items.in-columns
            - for(var i=0; i<4; i++)
                .blog-item
                    .blog-item-wraper
                        .item-image.item-image-opacity
                            img.item-image-src(src="assets/images/suit-portrait-preparation-wedding.jpg")
                            .item-title Let Lender Compete For Your Business
