.funnel-info
    .funnel-info-body
        h3.item-title Lendgenius guarantee
        p SBA loans are a great financing solution that gets rid of cash flow constraints thanks to their longer terms, often at the lowest rates.
        h4 Lorem Ipsum
        p SBA loans are a great financing solution that gets rid of cash flow constraints thanks to their longer terms, often at the lowest rates.
        h4 Lorem Ipsum
        p SBA loans are a great financing solution that gets rid of cash flow constraints thanks to their longer terms, often at the lowest rates.
    .funnel-info-footer
        ul.list-inline.sprites
            li.icon-protect-comodo-green
            li.icon-protect-mcafee-red
            li.icon-protect-norton
        .subtext
            p SBA loans are a great financing solution that gets rid of cash flow constraints thanks to their longer terms, often at the lowest rates.