mixin resource(res_alt, res_text, res_image)
    .col-xs-12.col-md-6
        .image-block
            img(src=res_image, alt=res_alt).align-left
            strong.title-text.text-uppercase.text-center= res_alt
        .text-block
            p= res_text
            a(href="#").more Learn more
.resources-block
    .container
        h2.item-title-primary Find Free Useful Recources
        .row
            +resource("tools", "Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. ", "assets/images/img-resources1.png")
            +resource("calculators", "Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. ", "assets/images/img-resources2.png")
            +resource("videos", "Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. ", "assets/images/img-resources3.png")
            +resource("credit cards", "Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. ", "assets/images/img-resources4.png")
