.content-refine-results.tpl-info
    .content-wrap
        form
            .refine-results-items
                - var label_name = ['Loan amount', 'Monthly revenue', 'Time in business']
                - for (var i=0; i<3; i++)
                    .item
                        .item-label
                            label= label_name[i]
                        .item-field
                            select(name="select-"+i).field-styler-option.field-input-biger
                                option(value=false, disabled=true, selected=true) Please choose
                                option(value=i) Choose 1
                                option(value=i+1) Choose 2
                                option(value=i+2) Choose 3
                .item
                    .item-label
                        label Business name
                    .item-field
                        input(type="text").field-input.field-input-biger
                .item
                    .item-label
                        label Industry
                    .item-field
                        select.field-styler-option.field-input-biger
                            option(value=false, disabled=true, selected=true) Please choose
                            option Choose 1
                            option Choose 2
                            option Choose 3
                .item
                    .item-label
                        label Business street address
                    .item-field
                        input(type="text").field-input.field-input-biger
                .item
                    .item-label
                        label ZIP code
                    .item-field
                        input(type="text").field-input.field-input-biger
            .refine-results-footer
                button(type="submit").btn.btn-primary Continue

