.how-much-search-wraper
    form(action="#")
        .how-much-search
            input.field-input.field-input-big.field-input-clear#how_much(type="text" placeholder="How Much Does Your Business Need?")
        .how-much-button
            button.field-button.btn.btn-success(type="submit") See Loan Options