.content-potential-loan-option
    .content-wrap
        .loan-option-items-header
            h1.item-title-primary= page_title
            .item-get-started
                a.btn.btn-success.btn-big Get Started
        .loan-option-items
            .row
                - for (var i=0;i<text.length;i++)
                    .col-lg-6.col-responsive
                        .item
                            form
                                .item-head
                                    .table
                                        .table-cell-middle
                                            .item-src.icomoon(class="font-icon-"+icon[i])
                                            .item-src-text!= text[i]
                                .item-body
                                    .table
                                        .table-row
                                            .table-cell
                                                .item-option
                                                    label.label-input
                                                        input(type="checkbox" checked=true  disabled=true)
                                                        span.label-input-circle-2 Credit Score <strong>500+</strong>
                                                .item-option
                                                    label.label-input
                                                        input(type="checkbox" disabled=true)
                                                        span.label-input-circle-2 Monthly Revenue <strong>$4,000+</strong>
                                                .item-option
                                                    label.label-input
                                                        input(type="checkbox" checked=true disabled=true)
                                                        span.label-input-circle-2 Time in Business <strong>3 months </strong>
                                            .table-cell
                                                .item-option-description
                                                    p Funds In
                                                    p.strong 3-5 days
                                                    p Typical payback
                                                    p.strong $0
                                .item-bottom
                                    .loan-request
                                        .loan-request-title Loan Request
                                        .loan-request-price $200.000