.our-customers-happy-stories
    .our-customers-happy-stories-wraper
        .container
            .our-customers-happy-stories-container
                .row
                    .col-md-8
                        .item-title Our Customer’s Happy Stories
                        .item-text Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit.
                        .item-author
                            strong Roberta Scott
                            | , Bakery House
                        .item-readmore: a(href="#") See more stories
