.content-comments
    .commetns-wraper
        .commetn-form
            .item-comments-total 3 comments
            form(action="#")
                .field-wraper
                    .item-comments-user(style="background-image: url('assets/images/author-avatar.jpg')")
                    .item-comment-fieldwrap
                        textarea.field-input(placeholder="Leave a comment here" rows="3")
        .comments-body
            ul.comments-list
                li.item-comment
                    .item-comment-wraper
                        .item-comment-user
                            .item-comments-user-src(style="background-image: url('assets/images/author-avatar.jpg')")
                        .item-comment-content
                            .item-comment-userdate
                                span.separate-dot: a.author(href="#") Geoff Taibott
                                span.separate-dot: date.date 6 days ago
                            .item-comment-text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae nisl ante. Aenean dignissim dignissim porttitor. Donec turpis arcu, interdum at porttitor a, volutpat quis dolor. Cras ac consequat lectus. Fusce condimentum, mauris eget tincidunt luctus, nisi dolor hendrerit enim, sed ultrices velit urna sit amet nibh. Nunc elementum commodo egestas. Nullam lobortis condimentum justo, quis gravida augue ornare a.
                            .item-comment-share
                                span.separate-dot
                                    span.separate-line: a.arrow-top(href="#") ‹
                                    span.separate-line: a.arrow-bottom(href="#") ‹
                                span.separate-dot Reply
                                span.separate-dot
                                    strong Share >
                                    a(href="#").fa.fa-facebook
                                    a(href="#").fa.fa-twitter
                                    a(href="#") https://www.nerdwallet.com/blog/top-credit-cards/
                    ul.comments-list.comments-list-child
                        li.item-comment
                            .item-comment-wraper
                                .item-comment-user
                                    .item-comments-user-src(style="background-image: url('assets/images/author-avatar.jpg')")
                                .item-comment-content
                                    .item-comment-userdate
                                        span.separate-dot: a.author(href="#") Geoff Taibott
                                        span.separate-dot: date.date 6 days ago
                                    .item-comment-text
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae nisl ante. Aenean dignissim dignissim porttitor. Donec turpis arcu, interdum at porttitor a, volutpat quis dolor. Cras ac consequat lectus. Fusce condimentum, mauris eget tincidunt luctus, nisi dolor hendrerit enim, sed ultrices velit urna sit amet nibh. Nunc elementum commodo egestas. Nullam lobortis condimentum justo, quis gravida augue ornare a.
                                    .item-comment-share
                                        span.separate-dot
                                            span.separate-line: a.arrow-top(href="#") ‹
                                            span.separate-line: a.arrow-bottom(href="#") ‹
                                        span.separate-dot Reply
                                        span.separate-dot
                                            strong Share >
                                            a(href="#").fa.fa-facebook
                                            a(href="#").fa.fa-twitter
                            ul.comments-list.comments-list-child
                                li.item-comment
                                    .item-comment-wraper
                                        .item-comment-user
                                            .item-comments-user-src(style="background-image: url('assets/images/author-avatar.jpg')")
                                        .item-comment-content
                                            .item-comment-userdate
                                                span.separate-dot: a.author(href="#") Geoff Taibott
                                                span.separate-dot: date.date 6 days ago
                                            .item-comment-text
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae nisl ante. Aenean dignissim dignissim porttitor. Donec turpis arcu, interdum at porttitor a, volutpat quis dolor. Cras ac consequat lectus. Fusce condimentum, mauris eget tincidunt luctus, nisi dolor hendrerit enim, sed ultrices velit urna sit amet nibh. Nunc elementum commodo egestas. Nullam lobortis condimentum justo, quis gravida augue ornare a.
                                            .item-comment-share
                                                span.separate-dot
                                                    span.separate-line: a.arrow-top(href="#") ‹
                                                    span.separate-line: a.arrow-bottom(href="#") ‹
                                                span.separate-dot: a(href="#") Reply
                                                span.separate-dot
                                                    strong Share >
                                                    a(href="#").fa.fa-facebook
                                                    a(href="#").fa.fa-twitter



