.content-refine-results
    .content-wrap
        form
            .refine-results-header
                .refine-results-title Refine results
                    button.btn.btn-inline.refine-results-reset(type="reset" value="Reset") Reset
            .refine-results-items
                - var label_name = ['Loan amount', 'Monthly Sales', 'Time in Business', 'Credit Score']
                - for (var i=0; i<4; i++)
                    .item
                        .item-label
                            label= label_name[i]
                        .item-field
                            select(name="select-"+i).field-styler-option.field-input-biger
                                option(value=false, disabled=true, selected=true) Please choose
                                option(value=i) Choose 1
                                option(value=i+1) Choose 2
                                option(value=i+2) Choose 3
            .refine-results-footer
                button.btn.btn-success.btn-big.btn-block(type="submit") Get Started

