.content-refine-results.tpl-info
    .content-wrap
        form
            .refine-results-items
                .item
                    .item-label
                        label First name
                    .item-field
                        input(type="text").field-input.field-input-biger

                .item
                    .item-label
                        label Last name
                    .item-field
                        input(type="text").field-input.field-input-biger
                .item
                    .item-label
                        label Primary phone
                    .item-field
                        input(type="text").field-input.field-input-biger
                .item
                    .item-label
                        label Email
                    .item-field
                        input(type="email").field-input.field-input-biger
                .item
                    .item-label
                        label Credit score
                    .item-field
                        select.field-styler-option.field-input-biger
                            option(value=false, disabled=true, selected=true) Please choose
                            option Choose 1
                            option Choose 2
                            option Choose 3
            .refine-results-footer
                button(type="submit").btn.btn-primary Continue

