mixin learn_more(icon, title)
    li
        a(href="#")
            .icon(class= icon)
            .title= title
.prt-learn-more
    h2.item-title-primary Learn More About Business Loans & Finance Products
    ul.learn-more-list
        +learn_more("font-icon-small_business", "Small Business Loans")
        +learn_more("font-icon-sba", "SBA")
        +learn_more("font-icon-equipment", "Equipment Financing")
        +learn_more("font-icon-terms", "Term Business Loan")
        +learn_more("font-icon-creditcards", "Credit Cards")
        +learn_more("font-icon-startup_loan", "Startup Loan")
        +learn_more("font-icon-short_term", "Short-Term Business Loan")
        +learn_more("font-icon-bag", "Personal Loan For Business")
        +learn_more("font-icon-invoice", "Invoice Financing")
        +learn_more("font-icon-business-line-credit", "Business LineOf Credit")

