.footer-info
    .footer-info-wraper
        .container
            .row
                .col-sm-3.col-md-2.info-item: a(href="#") Explore
                .col-sm-3.col-md-2.info-item: a(href="#") Need Help ?
                .col-sm-3.col-md-2.info-item: a(href="#") Resources
                .col-sm-3.col-md-2.info-item.to-top: a(href="#").font-icon.font-icon-stop-arrow
.footer-nav
    .footer-nav-wraper
        .container
            .row
                .nav-item.col-sm-4.col-lg-2
                    ul.nav-list
                        li: a(href="#") About Lendgenius
                        li: a(href="#") Careers
                        li: a(href="#") FAQ
                        li: a(href="#") Partners
                .nav-item.col-sm-4.col-lg-2
                    ul.nav-list
                        li: a(href="#") support@lendgenius.com
                        li: a(href="#") 1 (800) xxx-xxxx
                .nav-item.col-sm-4.col-lg-2
                    ul.nav-list
                        li: a(href="#") Business Loans
                        li: a(href="#") Resources
                        li: a(href="#") Blog
                .nav-item.col-md-12.col-lg-6
                    .item-protect-title We’ll never Sell Your Info!
                    .item-protect-subtitle We are not a lead-generation company.
                    .item-protect-iconts.sprites
                        ul.list-inline
                            li.icon-protect-comodo
                            li.icon-protect-norton
                            li.icon-protect-mcafee
.footer-copyright
    .footer-copyright-wraper
        .container
            .item-copyright
                span ©2016 Lendgenius. All Rights Reserved.
            .item-terms
                span.link: a(href="#") Privacy Policy
                span.link: a(href="#") Terms of Service