.header-panel(class=header_panel_class)
    .header-panel-wraper
        .container-fluid
            .panel-wraper
                include _the-header/_panel-logo
                include _the-header/_panel-nav
                include _the-header/_panel-options
