.header-panel(class=header_panel_class)
    .header-panel-wraper
        .container
            .panel-wraper
                include _the-header/_panel-logo
                include _the-header/_panel-logined
