- var header_panel_class = ""
- var content_aside_news = "Top News"
- var content_aside_news_count = 5
- var you_may_also_like_title = "You May Also Like"

- var page_privacy_policy = "Privacy Policy"

mixin our_culture(title, sub_title, text)
    .item
        .col-xs-12.col-md-4
            .item-title= title
            .item-sub-title= sub_title
        .col-xs-12.col-md-8
            .item-text= text
