- var steps_items_image = ["font-icon-online_form", "font-icon-loan_options", "font-icon-money_aproved"]
- var steps_items_description = ["Fill out", "Know your", "Sometimes in less than 24 hr"]
- var steps_items_title = ["Online Form", "Loan Options", "Get Funds"]