include _items
    - var steps_items_description= ["Fill out", "Know your", "Sometimes in less than 24 Hours"]
.steps-list.tpl-vertical
    .steps-list-wraper
        .steps-items
            - for (var i = 0; i < steps_items_image.length; i++)
                .item
                    .item-image: .item-image-src(class=steps_items_image[i])
                    .item-description=steps_items_description[i]
                    .item-title=steps_items_title[i]

