include _items
.steps-list
    .steps-list-wraper
        .container
            .steps-list-container
                .steps-items.row
                    - for (var i = 0; i < 3; i++)
                        .item.col-lg-4.col-sm-6
                            .item-image: .item-image-src(class=steps_items_image[i])
                            .item-description=steps_items_description[i]
                            .item-title=steps_items_title[i]

