.content-aside-items.content-aside-extend
    .content-item
        h2.item-title-primary= content_aside_news
    .content-item
        .item-wraper
            h3.item-title
                a(href="#") Let Lender Compete For Your Business
            .item-author by <strong>NATALY KARP</strong> on july 29, 2016
            .imate-image
                img.item-image-src(src="assets/images/aside-image.jpg" alt="Aside image")
            .item-text Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...
            .item-readmore
                a(href="#") Read more
    - for (var i=0; i < content_aside_news_count; i++)
        .content-item
            .item-wraper
                h3.item-title
                    a(href="#") Getting the Most Value From Barclaycard Ring
                .item-author by <strong>NATALY KARP</strong> on july 29, 2016
                .item-readmore
                    a(href="#") Read more