.content-aside
    include _prt_aside_news
    .content-aside-items
        .content-item
            .item-title-primary Best credit cards
        .content-item
            .item-wraper
                ul
                    - for (var i=0; i<10;i++)
                        li: a(href="#") Best Credit Cards of 2016
    .content-aside-items
        .content-item
            .item-title-primary shop & compare credit cards
        .content-item
            ul
                - for (var i=0; i<10;i++)
                    li: a(href="#") Best Credit Cards of 2016
    .content-aside-items
        .content-item
            .item-image
                img.img-responsive(src="assets/images/aside-banner.jpg" alt="Aside Banner")
    .content-aside-items
        .content-item
            .item-title-primary More from lendgenius
            ul
                - for (var i=0; i<10;i++)
                    li: a(href="#") Best Credit Cards of 2016