extends  tpl/_index
block theHead
    title About us
block theHeader
    - header_panel_class = "header-panel-white"
    include tpl/_the-header
block theBody
    include tpl/_page_about-us
block theFooter
    include tpl/_the-footer


