extends  tpl/_index
block theHead
    title Funnel-3
block theHeader
    include tpl/_the-header-logined
block theBody
    - var page_title="Potential Loan Options"
    include tpl/_page_funnel-3
block theFooter


