extends  tpl/_index
block theHead
    title Funnel-2b
block theHeader
    - var header_panel_class="the-header-fluid"
    - var page_title="Some Potential Loan Options"
    include tpl/_the-header-fluid
block theBody
    include tpl/_page_funnel-2b
block theFooter
    //include tpl/_the-footer


