extends  tpl/_index
block theHead
    title Funnel-2a
block theHeader
    include tpl/_the-header
block theBody
    - var page_title="Potential Loan Options"
    include tpl/_page_funnel-2a
block theFooter
    //include tpl/_the-footer


