extends  tpl/_index
block theHead
    title Funnel-4
block theHeader
    include tpl/_the-header-logined
block theBody
    - var page_title="Potential Loan Options"
    include tpl/_page_funnel-4
block theFooter


