extends  tpl/_index
block theHead
    title How it works 2
block theHeader
    include tpl/_the-header
block theBody
    include tpl/_page_how-it-works-3
block theFooter
    include tpl/_the-footer


