include tpl/_index
block theBody
    mixin page(name)
        li: a(href=name+".html").btn.btn-link=name
    mixin file(name)
        li: a(href=name).btn.btn-link=name
    .container-fluid
        h2 Pages:
        ol
            +page("blog")
            +page("blog-article")
            +page("funnel-1")
            +page("funnel-2a")
            +page("funnel-2b")
            +page("funnel-3")
            +page("funnel-4")
            +page("how-it-works-2")
            +page("how-it-works-3")
            +page("privacy-policy")
            +page("about-us")
            +page("terms-of-use")
        h2 Files:
        ol
            +file("output.zip")
