extends  tpl/_index
block theHead
    title Privacy Policy
block theHeader
    include tpl/_the-header
block theBody
    include tpl/_page_privacy-policy
block theFooter
    include tpl/_the-footer


