extends  tpl/_index
block theHead
    title Terms of use
block theHeader
    include tpl/_the-header
block theBody
    - page_privacy_policy = "Terms of Use"
    include tpl/_page_privacy-policy
block theFooter
    include tpl/_the-footer


