
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-bold.eot');
	src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-bold.woff2') format('woff2'),
	url('../fonts/opensans-bold.woff') format('woff'),
	url('../fonts/opensans-bold.ttf') format('truetype'),
	url('../fonts/opensans-bold.svg#open_sansbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-regular.eot');
	src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-regular.woff2') format('woff2'),
	url('../fonts/opensans-regular.woff') format('woff'),
	url('../fonts/opensans-regular.ttf') format('truetype'),
	url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-light.eot');
	src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-light.woff2') format('woff2'),
	url('../fonts/opensans-light.woff') format('woff'),
	url('../fonts/opensans-light.ttf') format('truetype'),
	url('../fonts/opensans-light.svg#open_sanslight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: url('../fonts/dosis-bold.eot');
	src: url('../fonts/dosis-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/dosis-bold.woff2') format('woff2'),
	url('../fonts/dosis-bold.woff') format('woff'),
	url('../fonts/dosis-bold.ttf') format('truetype'),
	url('../fonts/dosis-bold.svg#dosisbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: url('../fonts/dosis-regular.eot');
	src: url('../fonts/dosis-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/dosis-regular.woff2') format('woff2'),
	url('../fonts/dosis-regular.woff') format('woff'),
	url('../fonts/dosis-regular.ttf') format('truetype'),
	url('../fonts/dosis-regular.svg#dosisregular') format('svg');
	font-weight: 400;
	font-style: normal;
}