// Custom
body
	font: normal 400 16px/1.3 $Font-Primary
.page-title
	font: 400 47px / 1.3 $Font-Secondary
	color: $cTextDark
hr
	border-color: $cBorder
.separate-dot
	@include separate("\2022")
.separate-line
	@include separate("|")
	
.fa
	text-decoration: none
	&:hover
		text-decoration: none
a
	color: $cBlue
	@include mx-transition()
	&:hover
		text-decoration: none
		opacity: 0.9
[class^="font-icon"], [class*=" font-icon"]
	&:before
		font-family: $Font-SvgIcons
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		font-style: normal
		font-variant: normal
		font-weight: normal
		text-decoration: none
		text-transform: none

// Forms
.field-styler-option
	color: $cTextDark
	width: 100%
	height: 40px
	border-radius: 4px
.jq-selectbox
	cursor: pointer
	vertical-align: middle
	font-size: 16px
	font-weight: 300
	height: 40px
	padding: 0
	line-height: 40px
	width: 100%
	color: $cTextDark
	border-radius: 5px
	.jq-selectbox__select
		border: 1px solid $cBorder
		padding: 0 15px
		background: $cWhite
		border-radius: 4px
		overflow: hidden
		height: 40px
	.jq-selectbox__trigger
		position: absolute
		right: 0
		top: 0
	.jq-selectbox__trigger-arrow
		width: 40px
		height: 40px
		background: $cWhite url("../images/icon-select-arrow.png") no-repeat right 15px top 50% / 10px auto
	.jq-selectbox__dropdown
		background: $cWhite
		border-radius: 4px
		box-shadow: 0 0 4px 1px $cText
		top: auto
		left: 0
		right: 0
		margin: 1px 0
		padding: 0
		ul
			margin: 0
			padding: 0
			li
				padding: 0 15px
				&:hover
					background-color: transparentize($cBlue, 0.8)
		
label
	font-weight: 400
	cursor: pointer
.label-input
	input
		display: none
		&:checked
			~ .label-input-circle
				&:before
					content: $fa-var-dot-circle-o
			~ .label-input-circle-2
				&:before
					color: $cGreen
					content: $fa-var-check-circle
	.label-input-circle
		&:before
			font-family: $Font-Awesome
			content: $fa-var-circle-o
			margin-right: 8px
			font-size: 16px
	.label-input-circle-2
		&:before
			@extend .label-input-circle:before
			content: $fa-var-times-circle
			color: $cRed
			vertical-align: middle
			font-size: 18px

.field-input
	width: 100%
	color: $cTextDark
	border: 1px solid $cBorder
	outline: none
	padding: 5px 15px
	font-size: 14px
	line-height: 1.5
	border-radius: 3px
	&:hover
		box-shadow: inset 0 0 4px 0 transparentize($cText, 0.5)
	&:focus
		box-shadow: inset 0 0 4px 1px transparentize($cText, 0.2)
	&.field-input-clear
		border: 0
	&.field-input-biger
		font-size: 16px
		font-weight: 300
		height: 40px
.field-button
	border: 0
.field-wraper
	@include clearfix
	
	
// Buttns
.btn
	padding-left: 36px
	padding-right: 36px
	font-family: $Font-Secondary
	outline: none
	box-shadow: none
	@include mx-transition()
	&:focus, &:active
		outline: none
		
	&.btn-full
		display: block
		width: 100%
	&.btn-big
		font-size: 26px
		letter-spacing: 0.025em
		line-height: 2.6
		padding: 0 75px
	&.btn-mid
		font-size: 26px
		letter-spacing: 0.025em
		line-height: 2.5
	&.btn-inline
		display: inline-block
		padding: 0
		margin: 0
		background-color: transparent

.item-readmore
	a
		font-family: $Font-Secondary
		color: $cBlue
		font-size: 18px
img
	max-width: 100%
	height: auto
.item-image-src
	width: 100%
a
	color: inherit
	
	 
// Banner
.lendgenius-banner
	margin: 30px 0
	display: block
	padding: 25px
	background: linear-gradient(to bottom, $cGreen, $cBlue)
	vertical-align: middle
	text-align: right
	.btn
		padding: 8px 35px
		vertical-align: middle
	&:before
		content: ""
		float: left
		display: inline-block
		vertical-align: middle
		width: 352px
		height: 40px
		margin-right: 15px
		background: url("../images/logo-lendgenius-white.png") no-repeat 0 0/contain
		
// Headers
.item-title-primary
	font-size: 47px
	color: $cTextDark
	font-family: $Font-Secondary
	&.thin
		font-weight: 300
	&.bold
		font-weight: 700

// Table
.table
	display: table
	width: 100%
	height: 100%
	.table-row
		display: table-row
	.table-cell
		display: table-cell
		height: 100%
	.table-cell-middle
		@extend .table-cell
		vertical-align: middle

	
// FLEX
.row-flex, .row-flex-xs, .row-flex-sm, .row-flex-md, .row-flex.lg
	display: flex
	margin: 0 -15px
	flex-wrap: nowrap
	.col-flex
		padding: 0 15px
.row-flex-xs
	@media (max-width: $screen-xs)
		display: block
		@include make-row()
.row-flex-sm
	@media (max-width: $screen-sm)
		display: block
		@include make-row()
.row-flex-md
	@media (max-width: $screen-md)
		display: block
		@include make-row()
.row-flex-lg
	@media (max-width: $screen-lg)
		display: block
		@include make-row()

		 
// Colors
.cGreen
	color: $cGreen
.cBlue
	color: $cBlue