// Header
.header-panel
	&.the-header-fluid
		.panel-wraper
			padding: 0 30px
	&.header-panel-white
		.header-panel-wraper
			background: transparent
	.header-panel-wraper
		background-color: $cTextBg
		padding: 50px 0 54px
	.panel-wraper
		display: flex
		align-items: baseline
		flex-wrap: wrap
	.panel-logo
		width: 33%
		max-width: 380px
		padding-right: 30px
	.panel-nav
		flex-grow: 2
	.panel-options
		flex-grow: 1
		float: right
		text-align: right
		letter-spacing: 0.025em
		font-family: $Font-Secondary
		font-size: 18px
		a
			margin-left: 10px
		@media (max-width: $screen-md)
			float: none
			display: block
	.panel-logined
		@extend .panel-options
		a
			margin-left: 22px
	.site-logo
		width: 100%
	.btn
		padding: 8px 36px
		&.btn-link
			display: inline-block
			width: 19px
			padding: 0
			margin: -3px 0 0 34px
			span
				content: ""
				display: block
				height: 2px
				background: $cTextDark
				margin-bottom: 2px
				border-radius: 2px
	@media (max-width: $screen-md)
		.header-panel-wraper
			padding: 15px 0
		.site-logo
			height: 25px
			width: auto
			max-width: none
		.panel-logo
			width: auto
			max-width: none
			text-align: center
		.panel-nav
			text-align: right
	@media (max-width: $screen-sm)
		.panel-wraper,
		.panel-nav,
		.panel-logo,
		.panel-options
			display: block
			text-align: center

// Content BLOG
.page-blog
	margin-top: 30px
	.blog-navigation
		text-align: right
		color: $cBlue
		margin: 30px 0
		font-size: 12px
.content-blog
	margin-bottom: 50px
	.content-blog-items
		position: relative
		margin: 0 -15px 64px
		.blog-item
			margin-bottom: 30px
			//max-width: 380px
			width: 49%
			padding: 0 15px
			display: inline-block
			@media (max-width: $screen-md)
				width: 100%
				max-width: none
				position: static
		.item-title-primary
			font-size: 47px
			margin: 0
			font-family: "Dosis", serif
	.item-title
		font-size: 32px
		color: $cTextDark
		padding: 0 0 30px 0
	.item-title-primary
		@extend .item-title
		font-size: 47px
	.item-image
		.item-image-src
			width: 100%
		&.item-image-opacity
			background-color: $cDark
			position: relative
			.item-image-src
				width: 100%
				opacity: 0.5
		&.item-image-article
			.item-image-src
		.item-title
			padding: 15px 25px 0
			position: absolute
			color: $cWhite
			font-weight: 300
			top: 0
			left: 0
	.item-content
		padding: 25px
		background-color: $cTextBg
		display: inline-block
	.item-article
		margin: 50px 0
		padding-bottom: 30px
		border-bottom: 1px solid $cBorder
		p
			margin-bottom: 30px
	.item-author
		margin-bottom: 25px
		font-size: 14px
		color: $cDark
		.item-author-avatar
			@include block-radius(70, true)
			margin-right: 15px
		.item-author-info
			margin-top: 30px
			font-weight: 700
			font-size: 16px
			line-height: 30px
	.item-text
		color: $cText
		font-size: 16px
		line-height: 1.8
		letter-spacing: 0.05em
		margin-bottom: 18px
	.item-social
		color: $cTextDark
		font-size: 12px
		margin-bottom: 18px
		.sprite
			margin-right: 6px
		a
			color: inherit
			text-decoration: none
			&:hover
				opacity: 0.8
		.item-social-list
			margin: 0 -21px
			.item-social-icon
				border-right: 1px solid transparentize($cTextDark, 0.75)
				padding: 0 21px
				&:last-child
					border-right: 0
	.content-blog-reamore
		.btn
			&:hover
				color: $cGreen
	&.content-sub
		margin-bottom: 30px
		.content-blog-items
			margin-bottom: 30px
// Content ASIDE
.content-aside
	@media (max-width: $screen-lg) and (min-width: $screen-xs)
		column-count: 2
		.content-aside-items
			display: inline-block
			width: 100%
.content-aside-extend, .content-aside
	.content-aside-items
		margin: 0 0 37px
	.item-wraper
		border-bottom: 1px solid $cBorder
	.item-title-primary
		font-size: 24px
		font-family: $Font-Secondary
		font-weight: 700
		color: $cTextDark
		text-transform: uppercase
		margin: 0 0 30px
		padding-right: 31%
	.item-title
		font-size: 24px
		font-weight: 700
		margin: 18px 0 13px
		color: $cBlue
	.item-author
		margin: 13px 0 24px
		font-size: 14px
	.imate-image
		margin: 26px 0
	.item-text
		margin: 26px 0 18px
		font-size: 14px
		line-height: 24px
		letter-spacing: 0.05em
		color: $cText
	.item-readmore
		margin: 13px 0
	ul
		margin: 0 0 30px
		padding: 0
		list-style-position: inside
		li
			color: $cBlue
			padding: 7px 0
			font-size: 14px
			
	
// Content FOOTER
.footer-info
	background-color: $cFooter1
	.info-item
		a
			display: block
			font-weight: 700
			font-size: 18px
			line-height: 100px
			vertical-align: middle
	.to-top
		display: inline-block
		line-height: 100px
		float: right
		text-align: right
		a
			display: inline-block
			width: 60px
			height: 60px
			text-align: center
			vertical-align: middle
			background: $cFooter2
			color: $cBlue
			line-height: 60px
			font-size: 25px
			border-radius: 50%
			&:hover
				color: $cGreen
				background: $cWhite
			
	@media (max-width: $screen-sm)
		text-align: center
		.info-item
			display: inline-block
			&.sprites
				display: none
.footer-nav
	background-color: $cFooter2
	padding: 50px 0 45px
	.nav-item
		.item-protect-title
			font-weight: 700
			font-size: 18px
			color: $cTextDark
			line-height: 30px
			margin-top: -12px
		.item-protect-subtitle
			color: $cTextDark
			font-size: 12px
			line-height: 30px
			letter-spacing: 0.05em
		.item-protect-iconts
			margin: 0 0 13px 0
			li
				margin-left: 24px
		&:last-child
			text-align: right
		@media (max-width: $screen-md)
			margin-bottom: 13px
			*
				text-align: center
	.nav-list
		list-style: none
		margin: 0
		padding: 0
		color: $cText
		text-align: inherit
		li
			display: block
			a
				line-height: 26px
				font-size: 14px
.footer-copyright
	padding: 50px 0
	.item-copyright
		float: left
		font-size: 12px
		color: $cText
	.item-terms
		float: right
		font-size: 14px
		color: $cText
		.link
			&:not(:first-child)
				&:before
					content: "|"
					margin: 0 5px
	@media (max-width: $screen-md)
		padding: 20px 0
		.item-copyright, .item-terms
			float: none
			text-align: center
			margin: 13px 0

	 
// Comments
.content-comments
	font-size: 12px
	color: $cTextComments
	.item-comment-wraper
		@include clearfix
		&:not(:last-child)
			margin-bottom: 30px
	.item-comments-total
		margin: 25px 0
	.item-comments-user
		@include block-radius(40, true)
		float: left
	.comments-body
		margin: 30px 0
		padding: 30px 0
		border-top: 1px solid $cBorder
		border-bottom: 1px solid $cBorder
	.item-comment-fieldwrap
		float: left
		width: 100%
		margin-left: -40px
		padding-left: 55px
	.comments-list
		list-style: none
		margin: 0
		padding: 0
		&.comments-list-child
			padding-left: 100px
			@media (max-width: $screen-md)
				padding: 0
				.item-comment-content
					margin: 0
					float: none
	.item-comment-user
		float: left
		width: 72px
		.item-comments-user-src
			@include block-radius(72, true)
	.item-comment-userdate
		margin-bottom: 15px
		.author
			color: $cBlue
	.item-comment-content
		float: left
		width: 100%
		margin-left: -72px
		padding-left: 92px
	.item-comment-share
		@media (max-width: $screen-md)
			display: none
		.arrow-top, .arrow-bottom
			display: inline-block
			font-size: 20px
			text-decoration: none
			vertical-align: middle
		.arrow-top
			transform: rotate3d(0,0,1,90deg)
		.arrow-bottom
			transform: rotate3d(0,0,1,-90deg)
		.fa
			width: 20px
			height: 20px
			line-height: 20px
			color: $cWhite
			text-align: center
			vertical-align: middle
			background-color: $cBorder
			margin: 0 5px
			&:hover
				background-color: $cBlue

// Content HOW MUCH
.content-how-much
	background-color: $cBlue
	.content-how-much-wraper
		padding: 100px 0
	.how-much-title
		color: $cWhite
		font-size: 47px
		font-family: $Font-Secondary
		text-align: center
		margin: 0 0 80px 0
		label
			font-weight: inherit
	.how-much-search-wraper
		padding: 0 15%
.how-much-search-wraper
	@include clearfix
	.how-much-search
		@media (min-width: $screen-md)
			float: left
			width: 60%
		.field-input
			height: 80px
			border-radius: 5em 0 0 5em
			padding: 0 40px
			font-size: 16px
			color: $cTextDark
	.how-much-button
		@media (min-width: $screen-md)
			float: left
			width: 40%
		.field-button
			width: 100%
			height: 80px
			border-radius: 0 5em 5em 0
			font-size: 32px
			font-family: $Font-Secondary
	@media (max-width: $screen-md)
		padding: 0
		.how-much-search
			float: none
			margin: 15px auto
			.field-input
				border-radius: 5em
		.how-much-button
			float: none
			margin: 15px auto
			.field-button
				border-radius: 5em
				
// FUNNEL - 1
.content-funnel
	&.funnel-1
		.content-how-much
			background: url("../images/visual-2.jpg") no-repeat right 0 top 0 / cover
		.content-how-much-wraper
			padding: 180px 0 200px
			background: url("../images/bg-wave-text-bg.png") repeat-x 0 -135px / auto

// STEPS  LIST
.steps-list
	.steps-list-wraper
		padding: 90px 0
	.steps-items
		.item
			text-align: center
			.item-title
				&:before
					content: "\E001"
					font-family: $Font-SvgIcons
					position: absolute
					right: -25px
					top: 7px
					transform: rotate3d(0,0,1, -90deg)
				@media (max-width: $screen-sm)
					padding-bottom: 50px
					&:before
						top: auto
						bottom: 10px
						right: 50%
						margin-right: -8px
						transform: rotate3d(0, 0, 1, 0deg)

			&:last-child
				.item-title
					&:before, &:after
						display: none!important
			.item-image
				.item-image-src
					font-size: 68px
					color: $cGreen
					display: block
					margin: 15px auto
					width: 100px
					height: 80px
					@include mx-transition(400)
					&:hover
						color: $cBlue
			.item-description
				font-family: $Font-Secondary
				font-size: 18px
				color: $cTextDark
				margin: 4px 0
			.item-title
				position: relative
				font-family: $Font-Secondary
				font-size: 24px
				color: $cBlue
				font-weight: 700
				letter-spacing: 0.05em
				margin: 4px 0
				text-transform: uppercase
		@media (max-width: $screen-lg) and (min-width: $screen-sm)
			text-align: center
			.item
				display: inline-block
				float: none
				width: 48%
				&:nth-child(even)
					.item-title
						&:before
							display: none
	&.tpl-vertical
		.steps-list-wraper
			padding: 65px 33px
		.steps-items
			.item
				text-align: left
				width: 220px
				margin: 0 auto
				%text
					color: $cWhite
					font-weight: 700
					font-size: 24px
					letter-spacing: 0.05em
					font-family: $Font-Secondary
					line-height: 1
				.item-image-src
					text-align: left
					margin: 13px 0 0
					font-size: 75px
					height: auto
					&:hover
						color: $cWhite
				.item-title
					@extend %text
				.item-description
					@extend %text
					text-transform: none
					font-weight: 400
				.item-title
					&:before
						display: none
					&:after
						background: none
						font-family: $Font-SvgIcons
						content: "\E001"
						position: static
						display: block
						margin: 60px 0
		@media (max-width: $screen-md)
			.steps-items
				text-align: center
				.item
					text-align: center
					display: block
					.item-title
						padding: 10px 0
						&:after
							margin: 15px 0
					.item-image-src
						margin: 0 auto
			
	
// Our Customer’s Happy Stories
.our-customers-happy-stories
	.our-customers-happy-stories-wraper
		color: $cWhite
		font-family: $Font-Secondary
		padding: 120px 0 100px
		background: url("../images/bg-02-1.jpg") no-repeat right 0 top 50% / cover
		.item-title
			font-size: 47px
			margin-bottom: 60px
		.item-text
			font-size: 32px
			margin-bottom: 20px
		.item-author
			font-size: 18px
			margin-bottom: 80px
			
			
// Page --  Potentional Loan Options
.page-potential-loan-options
	.col-aside
		width: 380px
		padding-right: 15px
		vertical-align: top
	.col-body
		vertical-align: top
		padding-left: 15px
		.content-potential-loan-option
			max-width: $container-lg
			margin: 0 auto
	@media (max-width: $screen-sm)
		.col-aside, .col-body
			display: block
			width: 100%
			padding: 0
	&.funnel-2b
		.content-refine-results
			@media (min-width: $screen-sm)
				margin-left: -15px
		.loan-option-items
			.item-body
				background: $cTextBg
				padding-left: 15px
				padding-right: 15px
				&:after
					content: ""
					display: block
					height: 1px
					background: $cBorder
					margin-top: 29px
			.col-responsive
				@media (min-width: ($screen-lg + 300px))
					width: 33.33%
			


// Potentional Loan Options
.content-potential-loan-option
	.loan-option-items-header
		@include clearfix
		margin: 30px 0
		.item-title-primary
			float: left
		.item-get-started
			float: right
		@media (max-width: $screen-md)
			text-align: center
			.item-title-primary, .item-get-started
				margin: 0 0 20px
				float: none
	.loan-option-items
		.item
			margin-bottom: 30px
		.item-src, .item-src-text
			display: inline-block
			vertical-align: middle
		.item-src
			font-size: 55px
			margin-right: 10px
		.item-head
			background: $cBlue
			color: $cWhite
			height: 124px
			overflow: hidden
			vertical-align: middle
			text-align: center
			.item-src-text
				text-align: left
		.item-body
			color: $cText
			font-size: 14px
			padding: 30px 0 30px
			height: 150px
			overflow: hidden
			.item-option
				padding: 2px 0
			.table-cell
				vertical-align: middle
			p
				margin: 0
			.item-option-description
				.strong
					font-size: 20px
					color: $cTextDark
					font-weight: 700
		.loan-request
			background: $cTextBg
			text-align: center
			padding: 30px 0 35px
			.loan-request-title
				color: $cText
			.loan-request-price
				color: $cBlue
				font-size: 26px
				font-weight: 700

// Refine results
.content-refine-results
	height: 100%
	.refine-results-title
		font-weight: 700
		font-size: 24px
	.refine-results-reset
		color: $cGreen
		float: right
		&:before
			content: ""
			margin-right: 8px
			display: inline-block
			vertical-align: middle
			@include sprite($icon-btn-reset)
	.content-wrap
		height: 100%
		padding: 40px 25px
		background: $cTextDark
		color: $cWhite
	.refine-results-header
		border-bottom: 1px solid $cWhite
		padding-bottom: 30px
	.refine-results-items
		border-bottom: 1px solid $cWhite
		.item
			padding: 30px 0 35px
			border-bottom: 1px solid $cBorder
			.item-label
				font-size: 16px
				font-weight: 400
				margin-bottom: 5px
	.refine-results-footer
		padding: 45px 0
	&.tpl-info
		letter-spacing: 0.025em
		.content-wrap
			background: none
			color: $cTextDark
			padding: 10px 0
		.refine-results-items
			border-bottom: 1px solid $cBorder
			padding-bottom: 20px
			.item
				border: none
				padding: 10px 0
			.item-label
				margin-bottom: 9px
		.refine-results-footer
			padding: 35px 0
			text-align: right
			.btn
				font-size: 18px
				padding-left: 50px
				padding-right: 50px
			
// Page Funnel 3
.page-funnel-3
	.page-wraper
		position: relative
	.page-wraper-bg
		position: absolute
		top: 0
		bottom: 0
		left: 50%
		right: 0
		background: url("../images/funnel-3.jpg") no-repeat right 0 top 0 / cover
	.page-title
		margin: 30px 0 0
		line-height: 1.25
	.funnel-info
		color: $cWhite
		padding: 0 0 100px 100px
		.funnel-info-body
			margin: 52px 0 100px 0
			font-size: 16px
			line-height: 1.9
			color: $cWhite
			letter-spacing: 0.05em
			font-weight: 400
			h3
				font: 700 24px / 1.3 $Font-Secondary
				text-transform: uppercase
				margin: 26px 0 26px -5px
				letter-spacing: 0
			h4
				font-weight: 700
				margin: 35px 0 25px
				letter-spacing: 0.025em
				font-size: 16px
		.funnel-info-footer
			.subtext
				font-size: 12px
				color: transparentize($cWhite, 0.5)
				letter-spacing: 0.05em
				line-height: 1.5
			.sprites
				
				margin: 118px -16px 23px
				li
					margin: 0 16px
	.funnel-form
		padding: 0 101px 0 99px
	.steps-indication
		border-bottom: 1px solid $cBorder
		letter-spacing: 0.025em
		.step-title
			margin: 15px 0 12px
		.step-selector
			margin: 12px -9px 23px
			a
				text-decoration: none
				margin: 0 9px
				display: inline-block
				width: 35px
				height: 35px
				color: $cText
				background: $cTextBg
				text-align: center
				vertical-align: middle
				line-height: 35px
				border-radius: 50%
				&.active
					color: $cWhite
					background: $cBlue
				&:hover
					&:not(.active)
						color: $cTextDark
						background: darken($cTextBg, 5%)
	@media (max-width: $screen-md)
		.page-title
			width: 300px
			padding: 0
		.page-wraper-bg
			display: none
		.funnel-form
			padding: 15px 0
		.funnel-info
			padding: 15px
			background: url("../images/funnel-3.jpg") no-repeat 0  0 / cover
			.funnel-info-body
				margin: 25px 0
			.funnel-info-footer
				.sprites
					margin: 25px 0
					text-align: center
					li
						margin: 0 10px
						
.page-how-it-works
	&.tpl-2
		.find-free-userful-resources
			//background: $cTextBg
			&:before
				content: ""
				display: block
				height: 115px
				background: url("../images/bg-wave-text-bg.png") repeat-x left 0 bottom 0 / auto
				transform: rotate3d(0,0,1,180deg)
			.find-free-userful-resources-wraper
				background: $cTextBg
		.how-much-search-wraper
			margin-top: 100px
		.baner-title-thin
			margin-top: 25px
		.baner-title-thin, .baner-title-bold
			letter-spacing: 0.05em
		.content-aside-items
			margin: 27px 0
			.item-title-primary
				margin-bottom: 19px
			.item-title
				margin: 19px 0 8px
			.item-author
				margin: 8px 0
		.prt-learn-more
			margin: 90px -0px 25px
			.item-title-primary
				margin: 30px 0 60px
	&.tpl-3
		.page-head
			background: url("../images/how-it-works-3.jpg") no-repeat 50% 50% / cover
			.item-title-primary
				font-size: 72px
				color: $cBlue
				margin: 12px 0
				letter-spacing: 0.05em
			.block-title-primary
				padding: 80px 0 170px
			.block-steps
				background: transparentize($cWhite, 0.5)
			.steps-list-wraper
				padding: 42px 0 81px
				
			
	.how-it-works-banner
		margin-bottom: 83px
		%title
			color: $cWhite
			font-size: 90px
			font-family: $Font-Secondary
		.baner-title-thin
			@extend %title
			font-weight: 300
		.baner-title-bold
			@extend %title
			text-transform: uppercase
			font-weight: 700
		.side-left
			width: 67%
			background: url("../images/how-it-works-2.jpg") no-repeat right 0 top 50% / cover
			.banner-content
				padding: 0 100px 0 15px
				margin: auto 0 auto auto
				max-width: 923px
		.side-right
			width: 33%
			background: $cBlue
			.banner-content
				padding: 0 30px
				margin: auto auto auto 0
				max-width: 270px
		@media (max-width: $screen-lg)
			.side-right, .side-left
				.banner-content
					padding: 40px 15px
		@media (max-width: $screen-md)
			.side-left, .side-right
				display: block
				width: auto
				.banner-content
					margin: 0
					padding: 40px 15px
					max-width: none
			%title
				font-size: 60px
				text-align: center
				
.prt-learn-more
	.item-title-primary
		text-align: center
		margin: 30px 0
	.learn-more-list
		list-style: none
		margin: 0
		padding: 0
		text-align: center
		overflow: hidden
		li
			display: inline-block
			float: left
			width: 20%
			vertical-align: top
			position: relative
			height: 180px
			&:before
				content: ""
				position: absolute
				height: 55px
				width: 1px
				background: $cBorder
				right: -1px
				top: 20%
			.icon
				font-size: 60px
				height: 100px
			.title
				font-size: 18px
				font-weight: 700
				width: 150px
				margin: 0 auto
			&:hover
				color: $cBlue
		@media (max-width: $screen-md)
			li
				width: 50%
		

.prt-find-free-userful-resource
	margin-top: 50px
	.resource-items
		@include clearfix
		margin: 67px -15px 93px
		.item
			@for $i from 1 through 4
				&:nth-child(#{$i})
					.item-image
						background-image: url("../images/us-res-#{$i}.jpg")
		.item
			padding: 0 15px
			float: left
			margin: 50px 0
			width: 50%
			.item-content, .item-image
				display: table-cell
			@media (max-width: $screen-md)
				float: none
				width: auto
		.item-image
			text-align: center
			text-transform: uppercase
			color: $cWhite
			width: 205px
			height: 205px
			border-radius: 6px
			background-position: 50% 50%
			background-size: cover
			vertical-align: middle
			font-family: $Font-Secondary
			font-size: 24px
			letter-spacing: 0.05em
			font-weight: 700
		.item-content
			padding-left: 50px
			position: relative
			color: $cText
			font-size: 16px
			line-height: 30px
			letter-spacing: 0.05em
			.text
				height: 150px
				overflow: hidden
			.link
				font-family: $Font-Secondary
				font-size: 18px
				position: absolute
				bottom: 0
				left: 50px
				color: $cBlue
				
.page-privacy-policy
	.item-title-primary
		text-align: center
		color: $cWhite
	.page-head
		background: $cGreen
		padding: 70px 0 78px
	.page-body
		font-size: 14px
		font-weight: 400
		color: $cText
		line-height: 2
		letter-spacing: 0.05em
		max-width: 800px
		padding: 25px 15px
		margin: 0 auto
		p
			margin: 28px 0
			
.page-about-us
	.page-head
		background: url("../images/page-about-us.jpg") no-repeat 50% 50% / cover
		&:before
			content:  ""
			display: block
			background: url("../images/bg-wave.png") repeat-x left 0 bottom 0
			height: 40px
		.item-title-primary
			padding: 135px 0 174px
			color: $cWhite
		.content-ourmission
			background: transparentize($cWhite, 0.1)
			padding: 84px 0 76px
			color: $cTextDark
			font-size: 16px
			line-height: 1.8
			.item-title-primary
				margin: 0 0 30px
				color: inherit
				line-height: 1
				padding: 0
		@media (max-width: $screen-md)
			.item-title-primary
				padding: 100px 0
.content-our-services
	text-align: center
	padding: 81px 0 56px
	.item-title-primary
		margin-bottom: 46px
	.items-services
		text-align: center
		overflow: hidden
		.item
			margin-bottom: 50px
			position: relative
			&:after
				content: ""
				display: block
				position: absolute
				right: -1px
				top: 30%
				width: 1px
				height: 55px
				background: $cBorder
		.item-image
			font-size: 53px
			margin-bottom: 8px
		.item-text
			font-family: $Font-Secondary
			font-weight: 700
			font-size: 18px
.content-our-culture
	.tab-content-wrap
		background: $cTextBg
		padding: 64px 0 74px
	.nav
		text-transform: uppercase
		font-family: $Font-Secondary
		font-weight: 700
		font-size: 18px
		letter-spacing: 0
		.active
			border-top: 3px solid $cBlue
			a
				color: $cTextDark
	.tab-content
		.item-title
			@extend .item-title-primary
		.item-sub-title
			font-size: 18px
			font-family: $Font-Secondary
		.item-text
			padding: 5px 0
			@include mx-item-text()
.content-our-values
	.item-title-primary
		padding: 74px 0 25px
	.item
		margin: 46px 0 50px
		.item-title
			height: 20px
			overflow: hidden
			margin-bottom: 32px
			font-weight: 700
		.item-text
			$line: 30px
			height: 6 * $line
			overflow: hidden
			@include mx-item-text($lh:$line)
		@media (max-width: $screen-md)
			margin: 10px 0
			.item-text, .item-title
				height: auto
				overflow: visible
				margin: 5px 0
.content-working-at
	background: url("../images/page-about-us-footer.jpg") no-repeat 50% 50% / cover
	padding: 0 0 100px 0
	&:before
		content: ""
		display: block
		height: 115px
		background: url("../images/bg-wave.png") repeat-x left 0 bottom 0
	.item-title-primary
		color: $cWhite
		text-align: center
		padding: 99px 0 68px
	.item-content
		background: $cTextBg
		max-width: 830px
		margin: 0 auto
		padding: 73px 126px 90px
		color: $cTextDark
		.item-content-title
			font-size: 18px
			font-family: $Font-Secondary
			margin-bottom: 31px
			font-weight: 700
			text-transform: uppercase
		.item-content-text
			@include mx-item-text()
	.item-button
		padding: 96px 0 60px
		text-align: center
		.btn
			padding: 0 59px
			font-size: 32px
			letter-spacing: 0.025em
	@media (max-width: $screen-md)
		padding: 0
		.item-title-primary
			padding: 50px 0
		.item-content
			padding: 30px
		.item-button
			padding: 50px 0
			.btn
				padding: 0 25px
				font-size: 25px
				line-height: 2
		