.sprites
	.sprite
		display: inline-block
		vertical-align: middle
		
@include sprites($spritesheet-sprites)

@mixin mx-item-text($fs:16px, $ls:0, $c:$cText, $lh:1.9, $ta:left)
	font-size: $fs
	letter-spacing: $ls
	color: $c
	line-height: $lh
	text-align: $ta


@mixin separate($content: "")
	&:not(:last-child)
		&:after
			margin: 0 10px
			display: inline-block
			vertical-align: middle
			content: $content
	

@mixin background-src
	display: inline-block
	background-size: cover
	background-position: 50% 50%
	vertical-align: middle
	
@mixin block-radius($size: 0, $if_background: false)
	width: $size * 1px
	height: $size * 1px
	border-radius: $size * 0.5px
	@if $if_background == true
		@include background-src
		
@mixin mx-transition($duration: 100, $what: all , $function: linear)
	transition: $what $duration *1ms $function
	
		

