@font-face {
	font-family: "SvgIcons";
	src: url('../fonts/SvgIcons.eot');
	src: url('../fonts/SvgIcons.eot?#iefix') format('eot'),
		url('../fonts/SvgIcons.woff2') format('woff2'),
		url('../fonts/SvgIcons.woff') format('woff'),
		url('../fonts/SvgIcons.ttf') format('truetype'),
		url('../fonts/SvgIcons.svg#SvgIcons') format('svg');
}

.font-icon:before {
	font-family: "SvgIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.font-icon-arrow-down:before {
	content: "\E001";
}

.font-icon-bag:before {
	content: "\E002";
}

.font-icon-business-line-credit:before {
	content: "\E003";
}

.font-icon-creditcards:before {
	content: "\E004";
}

.font-icon-equipment:before {
	content: "\E005";
}

.font-icon-handshake:before {
	content: "\E006";
}

.font-icon-invoice:before {
	content: "\E007";
}

.font-icon-loan_options:before {
	content: "\E008";
}

.font-icon-merchant:before {
	content: "\E009";
}

.font-icon-money_aproved:before {
	content: "\E00A";
}

.font-icon-online_form:before {
	content: "\E00B";
}

.font-icon-person-business:before {
	content: "\E00C";
}

.font-icon-sba:before {
	content: "\E00D";
}

.font-icon-select:before {
	content: "\E00E";
}

.font-icon-short-term:before {
	content: "\E00F";
}

.font-icon-short_term:before {
	content: "\E010";
}

.font-icon-small_business:before {
	content: "\E011";
}

.font-icon-startup-loans:before {
	content: "\E012";
}

.font-icon-startup_loan:before {
	content: "\E013";
}

.font-icon-stop-arrow:before {
	content: "\E014";
}

.font-icon-terms:before {
	content: "\E015";
}
