@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon.eot?ntr70h");
	src: url("../fonts/icomoon.eot?ntr70h#iefix") format("embedded-opentype"),
	url("../fonts/icomoon.ttf?ntr70h") format("truetype"),
	url("../fonts/icomoon.woff?ntr70h") format("woff"),
	url("../fonts/icomoon.svg?ntr70h#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; }


	.icon-search:before {content: "\e90a"; }
	.icon-calculator:before {content: "\e900"; }
	.icon-cards:before {content: "\e901"; }
	.icon-cash:before {content: "\e902"; }
	.icon-credit-cards:before {content: "\e903"; }
	.icon-equipment:before {content: "\e904"; }
	.icon-loans:before {content: "\e905"; }
	.icon-sba:before {content: "\e906"; }
	.icon-term:before {content: "\e907"; }
	.icon-tools:before {content: "\e908"; }
	.icon-video:before {content: "\e909"; }

@import "svg-fonts";